<label for="search" class="sr-only sr-only-focusable">Search Phones</label>
<input class="form-control" type="text" ng-model="phonesSearch" typeahead="phone.title for phone in phones" placeholder="Search phones" id="search">
<br/>

<div class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sort by:  <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="#" ng-click="predicate='price'; reverse=false">Price (Low to High)</a></li>
        <li><a href="#" ng-click="predicate='price'; reverse=true">Price (High to Low)</a></li>
        <li><a href="#" ng-click="predicate='title'; reverse=false">Name (A-Z)</a></li>
        <li><a href="#" ng-click="predicate='title'; reverse=true">Name (Z-A)</a></li>
    </ul>
</div>

<div ng-controller="PhoneCtrl" class="row">
    <div ng-repeat="phone in phones | filter:phonesSearch | orderBy:predicate:reverse" class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>{{phone.title}} ({{phone.price}})</h3>
                <p>{{phone.desc}}</p>
                <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</a></p>
            </div>
        </div>
    </div>
</div>